@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Georama&display=swap');


*{
    font-family: 'Atkinson Hyperlegible', sans-serif;
}


.container-fluid{
    padding: 20px 10% !important;
}


h1, h2{
    font-family: 'Georama', sans-serif; 
} 

.big-font{
    color: #035AA6;
}

.btn-more{
    background-color: #035AA6 !important;
    color: #fff !important;
}

.bg-hero{
    background-image: url('../assets/blob-scene-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.hero-image{
    width: 95%;
    margin: 10% auto auto 5%;
}

.description-text{
    color: #979797;
    font-family: 'Georama', sans-serif;
}


div .bg-card {
    background-color: #9c9c9c;
}

.txt-recovered{
    color: #04c8c2;
}

.txt-confirmed{
    color: #fcc636;
}

.txt-dead{
    color: #f6174e;
}



@media (max-width:1000px){
    .hero-image{
        width: 70%;
        margin: 0 0 0 20%;
    }
}

@media (max-width:320px){
    .hero-image{
        width: 100%;
        margin: 10% 0 0 0;
    }
}


